{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://globalaccelerator.amazonaws.com/"
        },
        {
            "url": "http://globalaccelerator.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS Global Accelerator</fullname> <p>This is the <i>AWS Global Accelerator API Reference</i>. This guide is for developers who need detailed information about AWS Global Accelerator API actions, data types, and errors. For more information about Global Accelerator features, see the <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/Welcome.html\">AWS Global Accelerator Developer Guide</a>. </p> <p>AWS Global Accelerator is a network layer service in which you create accelerators to improve availability and performance for internet applications used by a global audience. </p> <p>Global Accelerator provides you with static IP addresses that you associate with your accelerator. These IP addresses are anycast from the AWS edge network and distribute incoming application traffic across multiple endpoint resources in multiple AWS Regions, which increases the availability of your applications. Endpoints can be Elastic IP addresses, Network Load Balancers, and Application Load Balancers that are located in one AWS Region or multiple Regions.</p> <p>Global Accelerator uses the AWS global network to route traffic to the optimal regional endpoint based on health, client location, and policies that you configure. The service reacts instantly to changes in health or configuration to ensure that internet traffic from clients is directed to only healthy endpoints.</p> <p>Global Accelerator includes components that work together to help you improve performance and availability for your applications:</p> <dl> <dt>Static IP address</dt> <dd> <p>AWS Global Accelerator provides you with a set of static IP addresses which are anycast from the AWS edge network and serve as the single fixed entry points for your clients. If you already have Elastic Load Balancing or Elastic IP address resources set up for your applications, you can easily add those to Global Accelerator to allow the resources to be accessed by a Global Accelerator static IP address.</p> </dd> <dt>Accelerator</dt> <dd> <p>An accelerator directs traffic to optimal endpoints over the AWS global network to improve availability and performance for your internet applications that have a global audience. Each accelerator includes one or more listeners.</p> </dd> <dt>Network zone</dt> <dd> <p>A network zone services the static IP addresses for your accelerator from a unique IP subnet. Similar to an AWS Availability Zone, a network zone is an isolated unit with its own set of physical infrastructure. When you configure an accelerator, Global Accelerator allocates two IPv4 addresses for it. If one IP address from a network zone becomes unavailable due to IP address blocking by certain client networks, or network disruptions, then client applications can retry on the healthy static IP address from the other isolated network zone.</p> </dd> <dt>Listener</dt> <dd> <p>A listener processes inbound connections from clients to Global Accelerator, based on the protocol and port that you configure. Each listener has one or more endpoint groups associated with it, and traffic is forwarded to endpoints in one of the groups. You associate endpoint groups with listeners by specifying the Regions that you want to distribute traffic to. Traffic is distributed to optimal endpoints within the endpoint groups associated with a listener.</p> </dd> <dt>Endpoint group</dt> <dd> <p>Each endpoint group is associated with a specific AWS Region. Endpoint groups include one or more endpoints in the Region. You can increase or reduce the percentage of traffic that would be otherwise directed to an endpoint group by adjusting a setting called a <i>traffic dial</i>. The traffic dial lets you easily do performance testing or blue/green deployment testing for new releases across different AWS Regions, for example. </p> </dd> <dt>Endpoint</dt> <dd> <p>An endpoint is an Elastic IP address, Network Load Balancer, or Application Load Balancer. Traffic is routed to endpoints based on several factors, including the geo-proximity to the user, the health of the endpoint, and the configuration options that you choose, such as endpoint weights. For each endpoint, you can configure weights, which are numbers that you can use to specify the proportion of traffic to route to each one. This can be useful, for example, to do performance testing within a Region.</p> </dd> </dl>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Global Accelerator",
        "version": "2018-08-08",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/globalaccelerator-2018-08-08.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "globalaccelerator"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/globalaccelerator/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Create an accelerator. An accelerator includes one or more listeners that process inbound connections and direct traffic to one or more endpoint groups, each of which includes endpoints, such as Network Load Balancers. To see an AWS CLI example of creating an accelerator, scroll down to <b>Example</b>.",
                "operationId": "CreateAccelerator",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Accelerator": {
                                            "description": "The accelerator that is created by specifying a listener and the supported IP address types.",
                                            "properties": {
                                                "AcceleratorArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the accelerator.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "CreatedTime": {
                                                    "description": "The date and time that the accelerator was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Enabled": {
                                                    "description": "<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>",
                                                    "type": "boolean"
                                                },
                                                "IpAddressType": {
                                                    "description": "The value for the address type must be IPv4. ",
                                                    "enum": [
                                                        "IPV4"
                                                    ],
                                                    "type": "string"
                                                },
                                                "IpSets": {
                                                    "description": "IP address set associated with the accelerator.",
                                                    "items": {
                                                        "description": "A complex type for the set of IP addresses for an accelerator.",
                                                        "properties": {
                                                            "IpAddresses": {
                                                                "description": "The array of IP addresses in the IP address set. An IP address set can have a maximum of two IP addresses.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "maxItems": 2,
                                                                "minItems": 0,
                                                                "type": "array"
                                                            },
                                                            "IpFamily": {
                                                                "description": "The types of IP addresses included in this IP set.",
                                                                "maxLength": 255,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "LastModifiedTime": {
                                                    "description": "The date and time that the accelerator was last modified.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "description": "The name of the accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "Describes the deployment status of the accelerator.",
                                                    "enum": [
                                                        "DEPLOYED",
                                                        "IN_PROGRESS"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Enabled": {
                                        "description": "<p>Indicates whether an accelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, an accelerator cannot be deleted. If set to false, the accelerator can be deleted.</p>",
                                        "type": "boolean"
                                    },
                                    "IdempotencyToken": {
                                        "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the uniqueness—of an accelerator.",
                                        "maxLength": 255,
                                        "type": "string"
                                    },
                                    "IpAddressType": {
                                        "description": "The value for the address type must be IPv4. ",
                                        "enum": [
                                            "IPV4"
                                        ],
                                        "type": "string"
                                    },
                                    "Name": {
                                        "description": "The name of an accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.",
                                        "maxLength": 255,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Name",
                                    "IdempotencyToken"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateEndpointGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Create an endpoint group for the specified listener. An endpoint group is a collection of endpoints in one AWS Region. To see an AWS CLI example of creating an endpoint group, scroll down to <b>Example</b>.",
                "operationId": "CreateEndpointGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "EndpointGroup": {
                                            "description": "The information about the endpoint group that was created.",
                                            "properties": {
                                                "EndpointDescriptions": {
                                                    "description": "The list of endpoint objects.",
                                                    "items": {
                                                        "description": "A complex type for an endpoint. Each endpoint group can include one or more endpoints, such as load balancers.",
                                                        "properties": {
                                                            "EndpointId": {
                                                                "description": "An ID for the endpoint. If the endpoint is a Network Load Balancer or Application Load Balancer, this is the Amazon Resource Name (ARN) of the resource. If the endpoint is an Elastic IP address, this is the Elastic IP address allocation ID.",
                                                                "maxLength": 255,
                                                                "type": "string"
                                                            },
                                                            "HealthReason": {
                                                                "description": "<p>The reason code associated with why the endpoint is not healthy. If the endpoint state is healthy, a reason code is not provided.</p> <p>If the endpoint state is <b>unhealthy</b>, the reason code can be one of the following values:</p> <ul> <li> <p> <b>Timeout</b>: The health check requests to the endpoint are timing out before returning a status.</p> </li> <li> <p> <b>Failed</b>: The health check failed, for example because the endpoint response was invalid (malformed).</p> </li> </ul> <p>If the endpoint state is <b>initial</b>, the reason code can be one of the following values:</p> <ul> <li> <p> <b>ProvisioningInProgress</b>: The endpoint is in the process of being provisioned.</p> </li> <li> <p> <b>InitialHealthChecking</b>: Global Accelerator is still setting up the minimum number of health checks for the endpoint that are required to determine its health status.</p> </li> </ul>",
                                                                "maxLength": 255,
                                                                "type": "string"
                                                            },
                                                            "HealthState": {
                                                                "description": "The health status of the endpoint.",
                                                                "enum": [
                                                                    "INITIAL",
                                                                    "HEALTHY",
                                                                    "UNHEALTHY"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "Weight": {
                                                                "description": "The weight associated with the endpoint. When you add weights to endpoints, you configure AWS Global Accelerator to route traffic based on proportions that you specify. For example, you might specify endpoint weights of 4, 5, 5, and 6 (sum=20). The result is that 4/20 of your traffic, on average, is routed to the first endpoint, 5/20 is routed both to the second and third endpoints, and 6/20 is routed to the last endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-endpoints-endpoint-weights.html\">Endpoint Weights</a> in the <i>AWS Global Accelerator Developer Guide</i>. ",
                                                                "maximum": 255,
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "EndpointGroupArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the endpoint group.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "EndpointGroupRegion": {
                                                    "description": "The AWS Region that this endpoint group belongs.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "HealthCheckIntervalSeconds": {
                                                    "description": "The time—10 seconds or 30 seconds—between health checks for each endpoint. The default value is 30.",
                                                    "maximum": 30,
                                                    "minimum": 10,
                                                    "type": "integer"
                                                },
                                                "HealthCheckPath": {
                                                    "description": "If the protocol is HTTP/S, then this value provides the ping path that Global Accelerator uses for the destination on the endpoints for health checks. The default is slash (/).",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "HealthCheckPort": {
                                                    "description": "<p>The port that Global Accelerator uses to perform health checks on endpoints that are part of this endpoint group. </p> <p>The default port is the port for the listener that this endpoint group is associated with. If the listener port is a list, Global Accelerator uses the first specified port in the list of ports.</p>",
                                                    "maximum": 65535,
                                                    "minimum": 1,
                                                    "type": "integer"
                                                },
                                                "HealthCheckProtocol": {
                                                    "description": "The protocol that Global Accelerator uses to perform health checks on endpoints that are part of this endpoint group. The default value is TCP.",
                                                    "enum": [
                                                        "TCP",
                                                        "HTTP",
                                                        "HTTPS"
                                                    ],
                                                    "type": "string"
                                                },
                                                "ThresholdCount": {
                                                    "description": "The number of consecutive health checks required to set the state of a healthy endpoint to unhealthy, or to set an unhealthy endpoint to healthy. The default value is 3.",
                                                    "maximum": 10,
                                                    "minimum": 1,
                                                    "type": "integer"
                                                },
                                                "TrafficDialPercentage": {
                                                    "description": "<p>The percentage of traffic to send to an AWS Region. Additional traffic is distributed to other endpoint groups for this listener. </p> <p>Use this action to increase (dial up) or decrease (dial down) traffic to a specific Region. The percentage is applied to the traffic that would otherwise have been routed to the Region based on optimal routing.</p> <p>The default value is 100.</p>",
                                                    "format": "float",
                                                    "maximum": 100,
                                                    "minimum": 0,
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "AcceleratorNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "EndpointGroupAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ListenerNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "EndpointConfigurations": {
                                        "description": "The list of endpoint objects.",
                                        "items": {
                                            "description": "A complex type for endpoints.",
                                            "properties": {
                                                "EndpointId": {
                                                    "description": "An ID for the endpoint. If the endpoint is a Network Load Balancer or Application Load Balancer, this is the Amazon Resource Name (ARN) of the resource. If the endpoint is an Elastic IP address, this is the Elastic IP address allocation ID.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "Weight": {
                                                    "description": "The weight associated with the endpoint. When you add weights to endpoints, you configure AWS Global Accelerator to route traffic based on proportions that you specify. For example, you might specify endpoint weights of 4, 5, 5, and 6 (sum=20). The result is that 4/20 of your traffic, on average, is routed to the first endpoint, 5/20 is routed both to the second and third endpoints, and 6/20 is routed to the last endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-endpoints-endpoint-weights.html\">Endpoint Weights</a> in the <i>AWS Global Accelerator Developer Guide</i>.",
                                                    "maximum": 255,
                                                    "minimum": 0,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 10,
                                        "minItems": 0,
                                        "type": "array"
                                    },
                                    "EndpointGroupRegion": {
                                        "description": "The name of the AWS Region where the endpoint group is located. A listener can have only one endpoint group in a specific Region.",
                                        "maxLength": 255,
                                        "type": "string"
                                    },
                                    "HealthCheckIntervalSeconds": {
                                        "description": "The time—10 seconds or 30 seconds—between each health check for an endpoint. The default value is 30.",
                                        "maximum": 30,
                                        "minimum": 10,
                                        "type": "integer"
                                    },
                                    "HealthCheckPath": {
                                        "description": "If the protocol is HTTP/S, then this specifies the path that is the destination for health check targets. The default value is slash (/).",
                                        "maxLength": 255,
                                        "type": "string"
                                    },
                                    "HealthCheckPort": {
                                        "description": "The port that AWS Global Accelerator uses to check the health of endpoints that are part of this endpoint group. The default port is the listener port that this endpoint group is associated with. If listener port is a list of ports, Global Accelerator uses the first port in the list.",
                                        "maximum": 65535,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "HealthCheckProtocol": {
                                        "description": "The protocol that AWS Global Accelerator uses to check the health of endpoints that are part of this endpoint group. The default value is TCP.",
                                        "enum": [
                                            "TCP",
                                            "HTTP",
                                            "HTTPS"
                                        ],
                                        "type": "string"
                                    },
                                    "IdempotencyToken": {
                                        "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the uniqueness—of the request.",
                                        "maxLength": 255,
                                        "type": "string"
                                    },
                                    "ListenerArn": {
                                        "description": "The Amazon Resource Name (ARN) of the listener.",
                                        "maxLength": 255,
                                        "type": "string"
                                    },
                                    "ThresholdCount": {
                                        "description": "The number of consecutive health checks required to set the state of a healthy endpoint to unhealthy, or to set an unhealthy endpoint to healthy. The default value is 3.",
                                        "maximum": 10,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "TrafficDialPercentage": {
                                        "description": "<p>The percentage of traffic to send to an AWS Region. Additional traffic is distributed to other endpoint groups for this listener. </p> <p>Use this action to increase (dial up) or decrease (dial down) traffic to a specific Region. The percentage is applied to the traffic that would otherwise have been routed to the Region based on optimal routing.</p> <p>The default value is 100.</p>",
                                        "format": "float",
                                        "maximum": 100,
                                        "minimum": 0,
                                        "type": "number"
                                    }
                                },
                                "required": [
                                    "ListenerArn",
                                    "EndpointGroupRegion",
                                    "IdempotencyToken"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateListener": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Create a listener to process inbound connections from clients to an accelerator. Connections arrive to assigned static IP addresses on a port, port range, or list of port ranges that you specify. To see an AWS CLI example of creating a listener, scroll down to <b>Example</b>.",
                "operationId": "CreateListener",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Listener": {
                                            "description": "The listener that you've created.",
                                            "properties": {
                                                "ClientAffinity": {
                                                    "description": "<p>Client affinity lets you direct all requests from a user to the same endpoint, if you have stateful applications, regardless of the port and protocol of the client request. Clienty affinity gives you control over whether to always route each client to the same specific endpoint.</p> <p>AWS Global Accelerator uses a consistent-flow hashing algorithm to choose the optimal endpoint for a connection. If client affinity is <code>NONE</code>, Global Accelerator uses the \"five-tuple\" (5-tuple) properties—source IP address, source port, destination IP address, destination port, and protocol—to select the hash value, and then chooses the best endpoint. However, with this setting, if someone uses different ports to connect to Global Accelerator, their connections might not be always routed to the same endpoint because the hash value changes. </p> <p>If you want a given client to always be routed to the same endpoint, set client affinity to <code>SOURCE_IP</code> instead. When you use the <code>SOURCE_IP</code> setting, Global Accelerator uses the \"two-tuple\" (2-tuple) properties— source (client) IP address and destination IP address—to select the hash value.</p> <p>The default value is <code>NONE</code>.</p>",
                                                    "enum": [
                                                        "NONE",
                                                        "SOURCE_IP"
                                                    ],
                                                    "type": "string"
                                                },
                                                "ListenerArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the listener.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "PortRanges": {
                                                    "description": "The list of port ranges for the connections from clients to the accelerator.",
                                                    "items": {
                                                        "description": "A complex type for a range of ports for a listener.",
                                                        "properties": {
                                                            "FromPort": {
                                                                "description": "The first port in the range of ports, inclusive.",
                                                                "maximum": 65535,
                                                                "minimum": 1,
                                                                "type": "integer"
                                                            },
                                                            "ToPort": {
                                                                "description": "The last port in the range of ports, inclusive.",
                                                                "maximum": 65535,
                                                                "minimum": 1,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "maxItems": 10,
                                                    "minItems": 1,
                                                    "type": "array"
                                                },
                                                "Protocol": {
                                                    "description": "The protocol for the connections from clients to the accelerator.",
                                                    "enum": [
                                                        "TCP",
                                                        "UDP"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AcceleratorNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidPortRangeException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceleratorArn": {
                                        "description": "The Amazon Resource Name (ARN) of your accelerator.",
                                        "maxLength": 255,
                                        "type": "string"
                                    },
                                    "ClientAffinity": {
                                        "description": "<p>Client affinity lets you direct all requests from a user to the same endpoint, if you have stateful applications, regardless of the port and protocol of the client request. Clienty affinity gives you control over whether to always route each client to the same specific endpoint.</p> <p>AWS Global Accelerator uses a consistent-flow hashing algorithm to choose the optimal endpoint for a connection. If client affinity is <code>NONE</code>, Global Accelerator uses the \"five-tuple\" (5-tuple) properties—source IP address, source port, destination IP address, destination port, and protocol—to select the hash value, and then chooses the best endpoint. However, with this setting, if someone uses different ports to connect to Global Accelerator, their connections might not be always routed to the same endpoint because the hash value changes. </p> <p>If you want a given client to always be routed to the same endpoint, set client affinity to <code>SOURCE_IP</code> instead. When you use the <code>SOURCE_IP</code> setting, Global Accelerator uses the \"two-tuple\" (2-tuple) properties— source (client) IP address and destination IP address—to select the hash value.</p> <p>The default value is <code>NONE</code>.</p>",
                                        "enum": [
                                            "NONE",
                                            "SOURCE_IP"
                                        ],
                                        "type": "string"
                                    },
                                    "IdempotencyToken": {
                                        "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the uniqueness—of the request.",
                                        "maxLength": 255,
                                        "type": "string"
                                    },
                                    "PortRanges": {
                                        "description": "The list of port ranges to support for connections from clients to your accelerator.",
                                        "items": {
                                            "description": "A complex type for a range of ports for a listener.",
                                            "properties": {
                                                "FromPort": {
                                                    "description": "The first port in the range of ports, inclusive.",
                                                    "maximum": 65535,
                                                    "minimum": 1,
                                                    "type": "integer"
                                                },
                                                "ToPort": {
                                                    "description": "The last port in the range of ports, inclusive.",
                                                    "maximum": 65535,
                                                    "minimum": 1,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 10,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "Protocol": {
                                        "description": "The protocol for connections from clients to your accelerator.",
                                        "enum": [
                                            "TCP",
                                            "UDP"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "AcceleratorArn",
                                    "PortRanges",
                                    "Protocol",
                                    "IdempotencyToken"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteAccelerator": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Delete an accelerator. Note: before you can delete an accelerator, you must disable it and remove all dependent resources (listeners and endpoint groups).",
                "operationId": "DeleteAccelerator",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "AcceleratorNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AcceleratorNotDisabledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "AssociatedListenerFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceleratorArn": {
                                        "description": "The Amazon Resource Name (ARN) of an accelerator.",
                                        "maxLength": 255,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "AcceleratorArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteEndpointGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Delete an endpoint group from a listener.",
                "operationId": "DeleteEndpointGroup",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "EndpointGroupNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "EndpointGroupArn": {
                                        "description": "The Amazon Resource Name (ARN) of the endpoint group to delete.",
                                        "maxLength": 255,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "EndpointGroupArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteListener": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Delete a listener from an accelerator.",
                "operationId": "DeleteListener",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "ListenerNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AssociatedEndpointGroupFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ListenerArn": {
                                        "description": "The Amazon Resource Name (ARN) of the listener.",
                                        "maxLength": 255,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ListenerArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeAccelerator": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Describe an accelerator. To see an AWS CLI example of describing an accelerator, scroll down to <b>Example</b>.",
                "operationId": "DescribeAccelerator",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Accelerator": {
                                            "description": "The description of the accelerator.",
                                            "properties": {
                                                "AcceleratorArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the accelerator.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "CreatedTime": {
                                                    "description": "The date and time that the accelerator was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Enabled": {
                                                    "description": "<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>",
                                                    "type": "boolean"
                                                },
                                                "IpAddressType": {
                                                    "description": "The value for the address type must be IPv4. ",
                                                    "enum": [
                                                        "IPV4"
                                                    ],
                                                    "type": "string"
                                                },
                                                "IpSets": {
                                                    "description": "IP address set associated with the accelerator.",
                                                    "items": {
                                                        "description": "A complex type for the set of IP addresses for an accelerator.",
                                                        "properties": {
                                                            "IpAddresses": {
                                                                "description": "The array of IP addresses in the IP address set. An IP address set can have a maximum of two IP addresses.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "maxItems": 2,
                                                                "minItems": 0,
                                                                "type": "array"
                                                            },
                                                            "IpFamily": {
                                                                "description": "The types of IP addresses included in this IP set.",
                                                                "maxLength": 255,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "LastModifiedTime": {
                                                    "description": "The date and time that the accelerator was last modified.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "description": "The name of the accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "Describes the deployment status of the accelerator.",
                                                    "enum": [
                                                        "DEPLOYED",
                                                        "IN_PROGRESS"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "AcceleratorNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceleratorArn": {
                                        "description": "The Amazon Resource Name (ARN) of the accelerator to describe.",
                                        "maxLength": 255,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "AcceleratorArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeAcceleratorAttributes": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Describe the attributes of an accelerator.",
                "operationId": "DescribeAcceleratorAttributes",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "AcceleratorAttributes": {
                                            "description": "The attributes of the accelerator.",
                                            "properties": {
                                                "FlowLogsEnabled": {
                                                    "description": "<p>Indicates whether flow logs are enabled. The default value is false. If the value is true, <code>FlowLogsS3Bucket</code> and <code>FlowLogsS3Prefix</code> must be specified.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/monitoring-global-accelerator.flow-logs.html\">Flow Logs</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>",
                                                    "type": "boolean"
                                                },
                                                "FlowLogsS3Bucket": {
                                                    "description": "The name of the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>. The bucket must exist and have a bucket policy that grants AWS Global Accelerator permission to write to the bucket.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "FlowLogsS3Prefix": {
                                                    "description": "The prefix for the location in the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>. If you don’t specify a prefix, the flow logs are stored in the root of the bucket.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "AcceleratorNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceleratorArn": {
                                        "description": "The Amazon Resource Name (ARN) of the accelerator with the attributes that you want to describe. Value is required.",
                                        "maxLength": 255,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeEndpointGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Describe an endpoint group.",
                "operationId": "DescribeEndpointGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "EndpointGroup": {
                                            "description": "The description of an endpoint group.",
                                            "properties": {
                                                "EndpointDescriptions": {
                                                    "description": "The list of endpoint objects.",
                                                    "items": {
                                                        "description": "A complex type for an endpoint. Each endpoint group can include one or more endpoints, such as load balancers.",
                                                        "properties": {
                                                            "EndpointId": {
                                                                "description": "An ID for the endpoint. If the endpoint is a Network Load Balancer or Application Load Balancer, this is the Amazon Resource Name (ARN) of the resource. If the endpoint is an Elastic IP address, this is the Elastic IP address allocation ID.",
                                                                "maxLength": 255,
                                                                "type": "string"
                                                            },
                                                            "HealthReason": {
                                                                "description": "<p>The reason code associated with why the endpoint is not healthy. If the endpoint state is healthy, a reason code is not provided.</p> <p>If the endpoint state is <b>unhealthy</b>, the reason code can be one of the following values:</p> <ul> <li> <p> <b>Timeout</b>: The health check requests to the endpoint are timing out before returning a status.</p> </li> <li> <p> <b>Failed</b>: The health check failed, for example because the endpoint response was invalid (malformed).</p> </li> </ul> <p>If the endpoint state is <b>initial</b>, the reason code can be one of the following values:</p> <ul> <li> <p> <b>ProvisioningInProgress</b>: The endpoint is in the process of being provisioned.</p> </li> <li> <p> <b>InitialHealthChecking</b>: Global Accelerator is still setting up the minimum number of health checks for the endpoint that are required to determine its health status.</p> </li> </ul>",
                                                                "maxLength": 255,
                                                                "type": "string"
                                                            },
                                                            "HealthState": {
                                                                "description": "The health status of the endpoint.",
                                                                "enum": [
                                                                    "INITIAL",
                                                                    "HEALTHY",
                                                                    "UNHEALTHY"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "Weight": {
                                                                "description": "The weight associated with the endpoint. When you add weights to endpoints, you configure AWS Global Accelerator to route traffic based on proportions that you specify. For example, you might specify endpoint weights of 4, 5, 5, and 6 (sum=20). The result is that 4/20 of your traffic, on average, is routed to the first endpoint, 5/20 is routed both to the second and third endpoints, and 6/20 is routed to the last endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-endpoints-endpoint-weights.html\">Endpoint Weights</a> in the <i>AWS Global Accelerator Developer Guide</i>. ",
                                                                "maximum": 255,
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "EndpointGroupArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the endpoint group.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "EndpointGroupRegion": {
                                                    "description": "The AWS Region that this endpoint group belongs.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "HealthCheckIntervalSeconds": {
                                                    "description": "The time—10 seconds or 30 seconds—between health checks for each endpoint. The default value is 30.",
                                                    "maximum": 30,
                                                    "minimum": 10,
                                                    "type": "integer"
                                                },
                                                "HealthCheckPath": {
                                                    "description": "If the protocol is HTTP/S, then this value provides the ping path that Global Accelerator uses for the destination on the endpoints for health checks. The default is slash (/).",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "HealthCheckPort": {
                                                    "description": "<p>The port that Global Accelerator uses to perform health checks on endpoints that are part of this endpoint group. </p> <p>The default port is the port for the listener that this endpoint group is associated with. If the listener port is a list, Global Accelerator uses the first specified port in the list of ports.</p>",
                                                    "maximum": 65535,
                                                    "minimum": 1,
                                                    "type": "integer"
                                                },
                                                "HealthCheckProtocol": {
                                                    "description": "The protocol that Global Accelerator uses to perform health checks on endpoints that are part of this endpoint group. The default value is TCP.",
                                                    "enum": [
                                                        "TCP",
                                                        "HTTP",
                                                        "HTTPS"
                                                    ],
                                                    "type": "string"
                                                },
                                                "ThresholdCount": {
                                                    "description": "The number of consecutive health checks required to set the state of a healthy endpoint to unhealthy, or to set an unhealthy endpoint to healthy. The default value is 3.",
                                                    "maximum": 10,
                                                    "minimum": 1,
                                                    "type": "integer"
                                                },
                                                "TrafficDialPercentage": {
                                                    "description": "<p>The percentage of traffic to send to an AWS Region. Additional traffic is distributed to other endpoint groups for this listener. </p> <p>Use this action to increase (dial up) or decrease (dial down) traffic to a specific Region. The percentage is applied to the traffic that would otherwise have been routed to the Region based on optimal routing.</p> <p>The default value is 100.</p>",
                                                    "format": "float",
                                                    "maximum": 100,
                                                    "minimum": 0,
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "EndpointGroupNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "EndpointGroupArn": {
[...]
